.left_aling{
    
    margin-left: 10px;
}
.right_aling{
    display: flex;
    justify-content: right;
    margin-right: 10px;
    p{
        align-self: flex-end;
        background-color: #ff7233;
    }
}
.message-display-area{

    scrollbar-width: none;
    -ms-overflow-style: none;
}
.message-display-area::-webkit-scrollbar{
    display: none;
 }