  .messagelist-cont{
    display: flex;
    flex-direction: column;  
  .upper-part{
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        max-height: 75px;
        background-color: white;
        .messages-list{
            display: flex;
            flex-direction: row;


            div{
                margin-bottom: 5px;
            }
        }
        .messages-list>*{
          margin-right: 5px;
        }
    }
  .lower-part{
    margin-top: 10px;
    background-color: white;
  }
  }