@import '../_include-media.scss';
  
  
  .messagelist-cont{
    display: flex;
    flex-direction: column;  
    width: 360px;
    max-height: 560px;
    @include media("<=phonemax"){
      width: 260px;
    }
  .upper-part{
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        background-color: white;
        .messages-list{
            display: flex;
            flex-direction: row;
            padding: 5px;
            align-content: center;
            cursor: pointer;


            div{
            }
        }
        .messages-list:hover{
          background-color: rgb(223,223,223);
          border-radius: 8px;

        }
        .messages-list>*{
          margin-right: 10px;
          align-self: center;
        }
    }
  .lower-part{
    background-color: white;
  }
  }