@import '../../_include-media.scss';
.post-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 530px;
    max-height: 123px;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 1px 1px;
    @include media("<=phonemax"){
        width: 330px;
    }
    @include media(">phonemax","<=tablet"){
        width: 430px;
      }
    .post-upper{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        padding: 10px;
        input{
            width: 425px;
            border: none;
            border-radius: 25px;
            background-color: rgb(230, 230, 230);
            padding: 10px;
            font-size: medium;
            @include media("<=phonemax"){
                width: 225px;
            }
            @include media(">phonemax","<=tablet"){
                width: 325px;
              }
        }
    }
    
    .post-lower{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        padding: 10px;
        div{
            display: flex;
            justify-content: space-between;
            height: 40px;
            overflow: hidden;
            width: 100%;
            gap: 10px;
            label{
                width: 150px;
                
                span{
                    align-self: baseline;
                    padding-left: 20px;
                }
            }

            button{
                height: 35px;
                width: 60px;
                background-color: #ff7233;
                border-radius: 10px;
                border: none;
                color: #424271
            }
            button:hover{
                background-color: #424271;
                color: #ff7233;
            }
        }
        
    }
}