@import '../../_include-media.scss';
.navbar{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    width:100%;
    height:40px;
    background-color:#ff7233;
  .left-part{
      display:flex;
      flex-direction:row;
      
      div{
        display:flex;
        flex-direction:row;
        justify-content:space-between;
        padding: 10px;
        color: aliceblue;
        gap: 30px;
        span{
         align-self: center;
         color: black;
        }
    }
    
      }
    .center-part{
        display: flex;
        align-content: center;
        justify-content: center;
      border: 2px solid #f8efeb;
      border-radius: 5px;
      div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 300px;
        height: 30px;
        input{
            border: none;
            height: 30px;
            width: 275px;
            background-color:#f8efeb;
        }
      }
    }
    .right-part{
        span{
            padding: 10px;   
        }
      
    }
    
  }