@import '../../_include-media.scss';
.login{
    display: flex;
    align-items: center;
    justify-content: center;
    

    .card{
    
            .inputlogin{
                display: flex;
                flex-direction: column;
                gap: 10px;
                align-self: center;
                div{
                    display: flex;
                    flex-direction: row;
                    align-content: center;

                    div{
                        min-width:100px;
                        margin-left: 10px;
                    }
                    input{
                        border: none;
                        border-radius: 10px;
                        padding: 5px;
                        background-color: rgb(243, 242, 242);
                        height: 30px;
                        width: 100%;
                    }
    
                }
                
            }
            .loginbutton{
                display: flex;
                justify-content: center;
                button{
                    background:#ff7233;
                    border: none;
                    border-radius: 28px;
                    align-self: center;
                    width: 50%;
                    height: 40px;
                }
                button:hover{
                    background: #ffab28;
                }
            }
        }
    }