@import '../_include-media.scss';

.bellow-navbar{
    display: block;
    padding:10px;
    overflow-x: scroll;
    height: calc(100vh - 50px);
    @include media("<=phonemax"){
        padding: auto;
    }
}
.bellow-navbar>*{
    margin-bottom: 10px;
}