@font-face {
  font-family:'Samarkan';
  src: url(./assest/SAMARO__.woff) format('woff');
}

.full-layout{
  display:flex;
  flex-direction: column;
  .layout-home{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    padding: 10px;
    margin:0px 10px 10px 10px;
    background-color: rgb(255, 255, 255);
  }
}