@import './_include-media.scss';
@font-face {
  font-family:'Samarkan';
  src: url(./assest/SAMARO__.woff) format('woff');
}

.full-layout{
  display:flex;
  flex-direction: column;
  position: relative;
  .navbar{
    position:fixed;
    top: 0px;
    z-index: 1;
  }
  .layout-home{
    position:absolute;
    top: 45px;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(255, 255, 255);
    min-width:calc(100vw - 50px);

    @include media("<=phonemax"){
      padding: auto;
      justify-content: center;
  }

      

  }
}